{
  "printWidth": 120,
  "trailingComma": "all",
  "semi": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "plugins": ["prettier-plugin-packagejson", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "^@([^/]+?)/(.*)$", "^[./]"]
}
